<div class="py-5 fade-in-up">
    <h2 class="section-title text-center mb-5" data-i18n="gallery">Photo Gallery</h2>
    <div class="row g-3">
        <div class="col-6 col-md-4">
            <div class="gallery-item-bw">
                <img src="assets/images/Gallery/1.webp" alt="Gallery 1" class="img-fluid w-100 gallery-img">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="gallery-item-bw">
                <img src="assets/images/Gallery/2.webp" alt="Gallery 2" class="img-fluid w-100 gallery-img">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="gallery-item-bw">
                <img src="assets/images/Gallery/3.webp" alt="Gallery 3" class="img-fluid w-100 gallery-img">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="gallery-item-bw">
                <img src="assets/images/Gallery/4.webp" alt="Gallery 4" class="img-fluid w-100 gallery-img">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="gallery-item-bw">
                <img src="assets/images/Gallery/5.webp" alt="Gallery 5" class="img-fluid w-100 gallery-img">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="gallery-item-bw">
                <img src="assets/images/Gallery/6.webp" alt="Gallery 6" class="img-fluid w-100 gallery-img">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="gallery-item-bw">
                <img src="assets/images/Gallery/7.webp" alt="Gallery 7" class="img-fluid w-100 gallery-img">
            </div>
        </div>
    </div>
</div>