<div class="py-5 fade-in-up">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="salon-img-box">
                <img src="assets/images/salon/salonbackground.webp" alt="Salon" class="img-fluid w-100">
            </div>
        </div>
        <div class="col-lg-6 px-lg-5">
            <h2 class="section-title mb-4" data-i18n="salon">Our Salon</h2>
            <p class="text-muted mb-5 lead">Welcome to our state-of-the-art beauty salon. We offer a wide range of
                professional beauty treatments tailored to your needs.</p>
            <ul class="salon-services-list">
                <li>
                    <div class="icon-bw-small"><i class="fas fa-check"></i></div> <span>Professional Hair Styling</span>
                </li>
                <li>
                    <div class="icon-bw-small"><i class="fas fa-check"></i></div> <span>Expert Makeup Services</span>
                </li>
                <li>
                    <div class="icon-bw-small"><i class="fas fa-check"></i></div> <span>Premium Nail Care</span>
                </li>
                <li>
                    <div class="icon-bw-small"><i class="fas fa-check"></i></div> <span>Luxury Facial Treatments</span>
                </li>
            </ul>
        </div>
    </div>
</div>